---
layout: default
title: Blog archive
---
{% for post in paginator.posts %}
				<section class="blog">
					<div class="wrap">
						<article class="blog-post h-entry">
							<header>
								<h2 class="p-name"><a href="{{ post.url }}">{{ post.title }}</a></h2>
								<p>
									published in <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time> 
									in {% for category in post.categories %}<a href="/blog/categories.html#{{ category | slugize }}" class="p-category">{{ category }}</a> {% endfor %}
								</p>
							</header>
							<section class="e-summary">
								<p>{{ post.excerpt }} <a href="{{ post.url }}">Read More &raquo;</a></p>
							</section>
						</article>
					</div>
					{% if forloop.last == false %}<hr>{% endif %}
				</section>
{% endfor %}

				<section class="pagination">
{% if paginator.next_page %}
					<div>
						<a href="{{ paginator.next_page_path }}" class="button button--large">&laquo; Older Posts</a>
					</div>
{% endif %}
					<div class="mid">{{ paginator.page }} of {{ paginator.total_pages }}</div>
{% if paginator.previous_page %}
					<div>
						<a href="{{ paginator.previous_page_path }}" class="button button--large">Newer Posts &raquo;</a>
					</div>
{% endif %}
				</section>
